@{
    ViewBag.Title = "За мен";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    София<br />
    <abbr title="Phone">P:</abbr>
    088 851 4598
</address>
<p>Здравейте казвам се Теодора Маркова и както се вижда плета. 
    Стремежа ми е да създавам точните неща за конкретния човек. 
    За да постигна тази цел ми е нужна вашата помощ. 
    Ако поръчвате нещо за приятел, моля с няколко думи да ми разкажете за него. 
    Какво харесва, какъв човек е. В смисъл: енергичен, спокоен и т.н.
    Ще ми се когато човек получава някакъв подарък да го почувсква като нещо свое и да го използва.
    </p>
